<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matching Card Game</title>

    <link rel="stylesheet" href = "../static/game.css">
    <meta name="google-adsense-account" content="ca-pub-3792646724041461">

       
</head>
<body>

<div class="title">Memorise</div>

<div class="game-container">
    <!-- Example of cards -->
    <div class="card" data-card="1">
        <div class="card-inner">1</div>
    </div>
    <div class="card" data-card="2">
        <div class="card-inner">2</div>
    </div>
    <div class="card" data-card="3">
        <div class="card-inner">3</div>
    </div>
    <div class="card" data-card="4">
        <div class="card-inner">4</div>
    </div>
    <div class="card" data-card="5">
        <div class="card-inner">5</div>
    </div>
    <div class="card" data-card="6">
        <div class="card-inner">6</div>
    </div>
    <div class="card" data-card="7">
        <div class="card-inner">7</div>
    </div>
    <div class="card" data-card="8">
        <div class="card-inner">8</div>
    </div>
    <div class="card" data-card="9">
        <div class="card-inner">9</div>
    </div>
    <div class="card" data-card="10">
        <div class="card-inner">10</div>
    </div>
    <div class="card" data-card="11">
        <div class="card-inner">11</div>
    </div>
    <div class="card" data-card="12">
        <div class="card-inner">12</div>
    </div>
    <div class="card" data-card="13">
        <div class="card-inner">13</div>
    </div>
    <div class="card" data-card="14">
        <div class="card-inner">14</div>
    </div>
    <div class="card" data-card="15">
        <div class="card-inner">15</div>
    </div>
    <div class="card" data-card="16">
        <div class="card-inner">16</div>
    </div>
</div>

<div class="timer">Time: <span id="timer">0</span> seconds</div>

<div class="flips">Flips: <span id="flips">0</span></div>


<script src="../static/game.js"></script>

<!-- <script>
    const cards = document.querySelectorAll('.card');

    let firstCard = null;
    let secondCard = null;
    let lockBoard = false;

    initGame();
    cards.forEach(card => card.addEventListener('click', flipCard));



</script> -->

</body>
</html>
